.container-color {background: #000;}
.container-color p { color: #828383; }
#services-two i { color: #fff300; background: #111; border: 5px solid #333; }
.text-color { color: #fff !important; }

.grey-dotted { border-bottom: 1px dotted #222; }

.accordion-header { border: 1px solid #222; color: #fff; }
.active-header { background: url('../img/active-header.gif') #333 !important; }
.inactive-header { background:url('../img/inactive-header.gif') #222 !important; color: #828383;}
.accordion-content { border-left: 1px solid #222; border-right: 1px solid #222; border-bottom: 1px solid #222; }