.container-color {background: #000;}
.container-color p { color: #828383; }
#services-two i { color: #fff300; background: #111; border: 5px solid #333; }
.text-color { color: #fff !important; }
.text-color-inverse {color: #000;}

.greytext {color: rgb(180, 180, 180) !important; }

.grey-dotted { border-bottom: 1px dotted #222; }

.home li.nav-button { background:rgba(0, 0, 0, 1); border-right: 1px solid #333; color: #fff; }
.home .flex-active { background: #fff !important; }
.home .flex-active h6 { color: #000 !important; }

.home-post-meta { background: #333; color: #828383; }

.accordion-header { border: 1px solid #222; color: #fff; }
.active-header { background: url('../img/active-header.gif') #333 !important; }
.inactive-header { background:url('../img/inactive-header.gif') #222 !important; color: #828383;}
.accordion-content { border-left: 1px solid #222; border-right: 1px solid #222; border-bottom: 1px solid #222; }

.quote .icon-quote-left, .quote .icon-quote-right { color: #444; }

.credit img.person { border: 5px solid #333; }

.carousel-nav i{ background:#333; color:#828383; }
.carousel-nav i:hover{ color:#000; background:#fff300; }

footer { border-top: 1px solid #222; }

.top-grey { border-bottom: 1px solid #222; }

.top { border-bottom: 1px solid #333; }

.basictitle { background: #000; }
.basicicon i {background: #fff;}

li.box {border: 10px solid #000;}

ul#filters li a { color:#fff; background: #333; }
ul#filters li a:hover{ color:#fff300; background:#000; }
ul#filters li a.selected { color:#fff300; background: #000; border:1px solid #222; }
